ACTION!="add|change", GOTO="netx_rules_end"

#-----------------------------------------------------------------------------
#
# USB rules
#
SUBSYSTEM!="usb", GOTO="netx_usb_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="netx_usb_rules_end"

# netX100/500 ABoot V1.0
ATTRS{idVendor}=="0cc4", ATTRS{idProduct}=="0815", MODE="664", GROUP="plugdev"

# netX50
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0002", MODE="664", GROUP="plugdev"

# netX10
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="000c", MODE="664", GROUP="plugdev"

# HBoot2 Soft
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0015", MODE="664", GROUP="plugdev"

# netX51
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0018", MODE="664", GROUP="plugdev"

# netX52
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0019", MODE="664", GROUP="plugdev"

# NXIO_Cert Test
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="1234", MODE="664", GROUP="plugdev"

# NXJTAG
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0023", MODE="664", GROUP="plugdev"

LABEL="netx_usb_rules_end"


#-----------------------------------------------------------------------------
#
# UIO rules
#
SUBSYSTEM!="uio", GOTO="netx_uio_rules_end"

# Hilscher PLX
ATTR{name}=="netx_plx", MODE="664", GROUP="plugdev"
ATTR{name}=="netx4000", MODE="664", GROUP="plugdev"

LABEL="netx_uio_rules_end"


#-----------------------------------------------------------------------------

LABEL="netx_rules_end"

