/////////////////////////////////////////////////////////////////////////////
//
// Application Icons
//

// explorer icon, must be first in order and sorting
aaaaaaaa ICON "icons\custom\muhkuh.ico"

// this icon is used with wxFrame::SetIcon()
muhkuh ICON "icons\custom\muhkuh.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
  FILEVERSION     @MUHKUH_VERSION_MAJ@,@MUHKUH_VERSION_MIN@,@MUHKUH_VERSION_SUB@,0
  PRODUCTVERSION  @MUHKUH_VERSION_MAJ@,@MUHKUH_VERSION_MIN@,@MUHKUH_VERSION_SUB@,0
  FILEFLAGSMASK   0x17L
#ifdef _DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x4L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "Comments",           "http://www.sf.net/projects/muhkuh"
      VALUE "CompanyName",        "Muhkuh team"
      VALUE "FileDescription",    "Muhkuh Project Manager"
      VALUE "FileVersion",        "@MUHKUH_VERSION_MAJ@, @MUHKUH_VERSION_MIN@, @MUHKUH_VERSION_SUB@, 0"
      VALUE "InternalName",       "muhkuh"
      VALUE "LegalCopyright",     "Copyright (C) @MUHKUH_VERSION_YEAR@, Muhkuh team"
      VALUE "OriginalFilename",   "muhkuh.exe"
      VALUE "ProductName",        "Muhkuh"
      VALUE "ProductVersion",     "@MUHKUH_VERSION_MAJ@, @MUHKUH_VERSION_MIN@, @MUHKUH_VERSION_SUB@, 0"
    END
  END
END

